CREATE DATABASE db_countries
GO

USE [db_countries]
GO
/****** Object:  Table [dbo].[pays]    Script Date: 25/02/2025 15:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pays](
	[PaysId] [int] IDENTITY(1,1) NOT NULL,
	[code_pays] [char](2) NOT NULL,
	[nom_pays] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_pays] PRIMARY KEY CLUSTERED 
(
	[PaysId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personnes]    Script Date: 25/02/2025 15:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personnes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](60) NOT NULL,
	[Prenom] [nvarchar](60) NOT NULL,
 CONSTRAINT [PK_Personnes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonneTrajets]    Script Date: 25/02/2025 15:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonneTrajets](
	[PersonneId] [int] NOT NULL,
	[TrajetId] [int] NOT NULL,
	[estConducteur] [bit] NOT NULL,
 CONSTRAINT [PK_PersonneTrajets] PRIMARY KEY CLUSTERED 
(
	[PersonneId] ASC,
	[TrajetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trajets]    Script Date: 25/02/2025 15:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trajets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateDepart] [datetime2](7) NOT NULL,
	[DateArrivee] [datetime2](7) NULL,
	[VilleDepartId] [int] NOT NULL,
	[VilleArriveeId] [int] NOT NULL,
 CONSTRAINT [PK_Trajets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ville]    Script Date: 25/02/2025 15:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ville](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[code_postal] [nvarchar](450) NOT NULL,
	[nom_ville] [nvarchar](60) NOT NULL,
	[PaysId] [int] NOT NULL,
 CONSTRAINT [PK_ville] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PersonneTrajets]  WITH CHECK ADD  CONSTRAINT [FK_PersonneTrajets_Personnes_PersonneId] FOREIGN KEY([PersonneId])
REFERENCES [dbo].[Personnes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonneTrajets] CHECK CONSTRAINT [FK_PersonneTrajets_Personnes_PersonneId]
GO
ALTER TABLE [dbo].[PersonneTrajets]  WITH CHECK ADD  CONSTRAINT [FK_PersonneTrajets_Trajets_TrajetId] FOREIGN KEY([TrajetId])
REFERENCES [dbo].[Trajets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonneTrajets] CHECK CONSTRAINT [FK_PersonneTrajets_Trajets_TrajetId]
GO
ALTER TABLE [dbo].[Trajets]  WITH CHECK ADD  CONSTRAINT [FK_Trajets_ville_VilleArriveeId] FOREIGN KEY([VilleArriveeId])
REFERENCES [dbo].[ville] ([Id])
GO
ALTER TABLE [dbo].[Trajets] CHECK CONSTRAINT [FK_Trajets_ville_VilleArriveeId]
GO
ALTER TABLE [dbo].[Trajets]  WITH CHECK ADD  CONSTRAINT [FK_Trajets_ville_VilleDepartId] FOREIGN KEY([VilleDepartId])
REFERENCES [dbo].[ville] ([Id])
GO
ALTER TABLE [dbo].[Trajets] CHECK CONSTRAINT [FK_Trajets_ville_VilleDepartId]
GO
ALTER TABLE [dbo].[ville]  WITH CHECK ADD  CONSTRAINT [FK_ville_pays_PaysId] FOREIGN KEY([PaysId])
REFERENCES [dbo].[pays] ([PaysId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ville] CHECK CONSTRAINT [FK_ville_pays_PaysId]
GO
